# Maven build output
target/

# Maven Wrapper
.mvn/wrapper/maven-wrapper.jar

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# VS Code
.vscode/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Eclipse/STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# General build output
build/

# Ignore help and documentation files
HELP.md

# Exclude all target and build folders in any subdirectory
**/target/
**/build/